<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks, <%= @user.name %></h1>
    <p>
     <h3> Your order has been processed. Details: </h3>

        <% @order.line_items.each do |item| %>
          <%= render 'item', product: item.product, quantity: item[:quantity].to_i %>
          <p>Item: <%= item.product.name %></p>
          <p>Quantity: <%= item[:quantity].to_i %></p>
          <p>Price:<%= item.product.price %></p>
          <p>Subtotal: <%= item.product.price * item[:quantity] %></p>
        <% end %>

        <h4>Order Total: <%= order_total %></h4>


    </p>

    <p>Thanks for your order and have a great day!</p>
  </body>
</html>